.profile__edit {
    background-image: url(../../../images/Edit_Button.svg);
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
    padding: 0px;
    border: none;
    margin-top: 16px;
    overflow: hidden;
  }
  
  .profile__edit:hover {
    /* color: #FFFFFF; */
    opacity: 0.6;
    transition: opacity 0.3s;
  }
  
  @media (max-width: 700px) {
    .profile__edit {
      background-image: url(../../../images/Edit_Button_mob.svg);
      width: 18px;
      height: 18px;
      margin-top: 9px;
      /* margin-bottom: 5px; */
    }
  }