.popup__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* border: none; */
    border-top: none;
    border-right: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    border-left: none;
    /* margin: 0; */
    margin-top: 54px;
    padding: 0 0 10px;
  }
  @media (max-width: 560px) {
    .popup__name {
      margin-top: 75px;
    }
  }