.popup__form {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    max-width: 430px;
    width: 100%;
    /* width: 100%; */
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    padding: 35px 36px;
    box-sizing: border-box;
    /* position: relative; */
  }
  
  @media (max-width: 900px) {
    .popup__form {
      max-width: 350px;
      padding: 30px 29px;
    }
  }
  
  @media (max-width: 560px) {
    .popup__form {
      max-width: 282px;
      padding: 25px 26px;
    }
  }