.profile__block {
    /* display: grid;
      grid-template-columns: repeat(3, auto);
      align-items: center; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    overflow: hidden;
  }
  
  @media (max-width: 960px) {
    .profile__block {
      padding: 0 27px;
    }
  }
  
  @media (max-width: 700px) {
    .profile__block {
      flex-direction: column;
    }
  }