.footer__copyright {
    margin: 0;
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
  }
  
  @media (max-width: 960px) {
    .footer__copyright {
      padding-left: 27px;
    }
  }
  
  @media (max-width: 560px) {
    .footer__copyright {
      padding-bottom: 36px;
      max-width: 282px;
      width: 100%;
      margin: 0 auto;
      padding-left: 0px;
    }
  }
  